NET "seg7_decode<5>" LOC = "K17"  ;
NET "seg7_decode<4>" LOC = "K18"  ;
NET "seg7_decode<3>" LOC = "K20"  ;
NET "seg7_decode<2>" LOC = "K19"  ;
NET "seg7_decode<1>" LOC = "K22"  ;
NET "seg7_decode<0>" LOC = "L17"  ;
NET "dp" LOC = "G22" ;
NET "g" LOC = "H18"  ;
NET "f" LOC = "H19"  ;
NET "e" LOC = "H20"  ;
NET "d" LOC = "J17"  ;
NET "clk" LOC = "A12"  ;
NET "c" LOC = "J19"  ;
NET "b" LOC = "J20"  ;
NET "a" LOC = "J22"  ;
NET "ROT<3>" LOC ="D2";
NET "ROT<2>" LOC ="D1";
NET "ROT<1>" LOC ="E3";
NET "ROT<0>" LOC ="E1";