NET "clk"  LOC = "A12"  ;

NET "out_led[0]"  LOC = "G13"  ;
NET "out_led[1]"  LOC = "A14"  ;
NET "out_led[2]"  LOC = "B14"  ;
NET "out_led[3]"  LOC = "G20"  ;
NET "out_led[4]"  LOC = "G19"  ;
NET "out_led[5]"  LOC = "F22"  ;
NET "out_led[6]"  LOC = "F21"  ;
NET "out_led[7]"  LOC = "F20"  ;
NET "out_led[8]"  LOC = "F19"  ;
NET "out_led[9]"  LOC = "F18"  ;
NET "out_led[10]"  LOC = "E22"  ;
NET "out_led[11]"  LOC = "E20"  ;

NET "KPD_R[2]"  LOC = "E14"  ;
NET "KPD_R[1]"  LOC = "D14"  ;
NET "KPD_R[0]"  LOC = "C14"  ;

NET "KPD_C[3]"  LOC = "D15"  ;
NET "KPD_C[2]"  LOC = "C15"  ;
NET "KPD_C[1]"  LOC = "A15"  ;
NET "KPD_C[0]"  LOC = "F14"  ;

NET "seg7_decode<5>" LOC = "K17"  ;
NET "seg7_decode<4>" LOC = "K18"  ;
NET "seg7_decode<3>" LOC = "K20"  ;
NET "seg7_decode<2>" LOC = "K19"  ;
NET "seg7_decode<1>" LOC = "K22"  ;
NET "seg7_decode<0>" LOC = "L17"  ;
NET "dp" LOC = "G22" ;
NET "g" LOC = "H18"  ;
NET "f" LOC = "H19"  ;
NET "e" LOC = "H20"  ;
NET "d" LOC = "J17"  ;
NET "c" LOC = "J19"  ;
NET "b" LOC = "J20"  ;
NET "a" LOC = "J22"  ;