# VGA ping
NET "VGA_RGB<2>"  	LOC = D21 ;
NET "VGA_RGB<1>"  	LOC = D19 ;
NET "VGA_RGB<0>"  	LOC = C20 ;
NET "VGA_VS" 	LOC = D20 ;
NET "VGA_HS" 	LOC = D22 ;
NET "CLOCK_50" LOC = A12 ;
NET "RST_N" 	LOC = B21 ;
